/* Define variables */

:root {
  --header-color: seagreen;
  --accent-color: gold;
  --main-color: white;
  --background-color: darkgrey;
}



/* Utilities that I utilize */

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.py-5 {
  padding-top: 15px;
  padding-bottom: 15px;
}



/* General styles */

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1,h2,h3,h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

a { text-decoration: none; }

a:hover { text-decoration: underline; }



/* Media queries */

@media (max-width: 576px) { /* Still pretty freaking confused with min-max width. This is what I want though. */
  .container {
    max-width: 540px;
  }
  .display-2 {
    font-size: 2.5rem;
    font-weight: 400;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}



/* Actual page styles */

.container {
  background-color: #dedede;
}

#img-div {
  background-color: #ffffff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

#img-div img {
  height: 450px;
}

#tribute-info {
  display: flex; /* Because I can use this now, like a badass. */
  flex-direction: column;
  align-items: center;
}

#timeline .date {
  font-weight: 700;
}